.code-block {
    border-radius: .25rem;
    color: #333333;
    border: 1px solid #e1e4e8;
    overflow: hidden;
}

.code-block.dynamic {
    width: 32.5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.code-block .header {
    display: flex;
    border-bottom: 1px solid #e1e4e8;

    .file {
        padding: .75rem 1.25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        border-right: 1px solid #e1e4e8;

        &.selected {
            position: relative;
            background-color: #F9F8F4;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #F9F8F4;
                position: absolute;
                top: 100%;
                left: 0;

            }
        }
    }

    .icon {
        width: 16px;
        height: 16px;
        fill: #333333;
    }

    .title {
        font-weight: normal;
        font-size: small;
        margin: 0;
    }

    .title::selection {
        background-color: #5779FF;
        color: white;
    }
}

.code-block .highlighted {
    background-color: rgba(255, 221, 87, .03125);
}

.code-block:not(.dynamic) .highlighted {
    width: 100%;
    display: inline-block;
}

.code-block.dynamic .editor-block {
    position: relative;
    height: 100%;
}

.code-block.dynamic :is(.highlighted, .editor) {
    height: 100%;
}

.code-block .output {
    background-color: transparent;
    border: none;
    width: 100%;
    height: calc(100% - 40.59px);
    outline: none;
}

.editor,
.highlighted,
.highlighted * {
    font-size: small;
}

.highlighted::selection,
.highlighted ::selection,
.editor::selection,
.editor ::selection {
    background-color: #c8c8fa;
    color: #333333;
}

.highlighted,
.editor {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1rem;
    overflow-y: auto;
    tab-size: 2;
}

.dynamic :is(.highlighted, .editor) {
    position: absolute;
    inset: 0;
}

.dynamic .highlighted {
    z-index: 0;
}

.dynamic .editor {
    color: transparent;
    background: transparent;
    caret-color: black;

    outline: none;
    resize: none;
    border: none;

    z-index: 1;
}

.css-selector,
.html-tag {
    color: #a71d5d;
}

.css-hex-color {
    color: #ed6a43;
}

.css-property {
    color: #795da3;
}

.css-string {
    color: #690;
}

.css-number,
.css-number-with-unit,
.html-attribute {
    color: #0086b3;
}

.css-function,
.css-at-rule,
.html-value {
    color: #183691;
}

.html-bracket {
    color: #969896;
}
